 {
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "airbnb",
    "airbnb-hooks",
    "airbnb-typescript",
    "eslint-config-prettier"
  ],
  "ignorePatterns": ["dist", ".eslintrc.cjs"],
  "parser": "./tsconfig.json",
  "plugins": ["react-refresh"],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ]
  }
}
